* {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    margin: 10px;
}

div {
    margin: 20px 20px;
    padding: 20px 20px;
    display: block;
}

p {
    padding: 20px;
}

input {
    margin: 40px;
}